<hr>
<section class="comment-list">
  <!-- First Comment -->

  <header class="text-left">
    <div class="comment-user"><i class="fas fa-user-ninja"></i> <%= comment.author %></div>
    <time class="comment-date"><i class="fa fa-clock-o"></i> <%= comment.created_at.strftime('%b %d, %Y') %></time>
  </header>
  <div class="comment-post">
    <p><%= comment.content %></p>
  </div>
</section>